# Dependencies
node_modules/
.env
*.log

# Docker volumes
data/
pgdata/
solr_data/
assetstore/

# Archives
*.tar.gz
*.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary
tmp/
temp/
Chengetai-deploy/
