<div class="sidebar">

  <div class="logo">
    <div class="logo-icon">🚀</div>
    <div>
      <h2>ChengetAi</h2>
      <span>Deploy</span>
    </div>
  </div>

  <nav>

    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      🏠 Dashboard
    </a>

    <a routerLink="/new-deployment" routerLinkActive="active">
      🚀 Deploy
    </a>

    <a routerLink="/deployments" routerLinkActive="active">
      📚 Repositories
    </a>

    <a routerLink="/server" routerLinkActive="active">
      🖥 Servers
    </a>

    <a routerLink="/backups" routerLinkActive="active">
      💾 Backups
    </a>

    <a routerLink="/users" routerLinkActive="active">
      👥 Users
    </a>

    <a routerLink="/settings" routerLinkActive="active">
      ⚙ Settings
    </a>

  </nav>

  <div class="footer">
    <small>ChengetAi Deploy v1.0</small>
  </div>

</div>
